@import "tailwindcss";
.input {
  @apply w-full px-4 py-2 border rounded-lg
         focus:outline-none focus:ring-2 focus:ring-pink-500
         transition duration-150;
}

.btn-primary {
  @apply w-full bg-pink-600 text-white py-2 rounded-lg
         font-semibold hover:bg-pink-700
         shadow-md hover:shadow-lg
         transition duration-200;
}
